/* h4{
    background-color: orangered;
    padding:30px;
    font-weight: bolder;
    color: white;
}
h1{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
}
.container1{
    background-color:#e6e6e6;
    padding: 60px;
}
h3{
    color: rgb(16, 9, 6);
}
.container2{
    border-color: black;
}
#col1{
    background-color: orangered;
}
#col2{
    background-color: grey;
}
#h31{
    color: white;
} */
h4{
    background-color: orangered;
    padding:30px;
    font-weight: bolder;
    color: white;
}
h1{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
}
.container1{
    background-color:#e6e6e6;
    padding: 60px;
}
h3{
    color: orangered;
}
.container2{
    border-color: black;
}
#col1{
    background-color: orangered;
}
#col2{
    background-color: grey;
}
#h31{
    color: white;
}
.partners-logo {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.container3{
    align-items: center;
}
#car1{
    border: none;
    border-radius: 0;
}

